<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron text-center">
    <h2>Hello <%= current_user.name %></h2>
    <p class="lead">Welcome to Contact Manager App</p>
    <p><%= link_to 'Manage Your Contacts', contacts_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>
