<div class='col-md-offset-3 col-md-6'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <strong>Sign up</strong>
      </div>
      <div class='panel-body'>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render 'devise/shared/messages' %>

            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: 'btn btn-primary' %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
    </div>
</div>

