<div class='col-md-offset-3 col-md-6'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <strong>Forgot your password?</strong>
      </div>
      <div class='panel-body'>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render 'devise/shared/messages' %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
