<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron text-center">
    <h1>Free Online Contact Manager</h1>
    <p class="lead">Organize your contacts freely and easily</p>
    <p>
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-default btn-lg' %>
    </p>
  </div>
</div>
