<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron text-center">
    <h1>404</h1>
    <p class="lead">Sorry the contact could not be found</p>
    <p><%= link_to 'Go back to your contacts', contacts_path, class: 'btn btn-primary' %></p>
  </div>
</div>
