<div class='col-md-offset-3 col-md-6'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <strong>Login</strong>
      </div>
      <div class='panel-body'>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-primary' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
