<% unless flash.empty? %>
  <script>
    <% flash.each do |type, msg| %>
      <% type = type.to_s.gsub('alert', 'error').gsub('notice', 'info') %>
    toastr["<%= type %>"]("<%= msg %>", "<%= type.upcase %>");
    <% end %>
  </script>
<% end %>
