<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to 'My Contact', root_path, class: 'navbar-brand text-uppercase' %>
        </div>
        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <% if !user_signed_in? %>
            <div class="navbar-right">
              <%= link_to 'Login', new_user_session_path, class: 'btn btn-default navbar-btn' %>
              <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary navbar-btn' %>
            </div>
          <% else %>
          <ul class="nav navbar-nav">
            <li class="<%= active_item('dashboard') %>"><%= link_to 'Dashboard', dashboard_path %></li>
            <li class="<%= active_item('contacts') %>"><%= link_to 'All Contacts', contacts_path %></li>
          </ul>
            <ul class="nav navbar-right navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle='dropdown' role='button' aria-haspop='true' aria-expanded='false'>
                  <i class="glyphicon glyphicon-user"></i>
                  <%= current_user.name %>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby='dropwdownMenu1'>
                  <li><%= link_to 'Profile', edit_user_registration_path %></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
            <%= render 'layouts/search_form' %>
          <% end %>
        </div>
      </div>
    </nav>
