<%= form_tag(contacts_path, class: 'navbar-form navbar-right', role: 'search', method: :get, remote: true) do %>
    <div class="input-group">
        <%= text_field_tag :term, params[:term], class: 'form-control', placeholder: 'Search...', autocomplete: 'off' %>
        <%= hidden_field_tag :group_id, params[:group_id] %>
        <span class='input-group-btn'>
        <button class="btn btn-default" type='submit'>
            <i class="glyphicon glyphicon-search"></i>
        </button>
        </span>
    </div>
<% end %>
