<div class="list-group">
  <% active = (params[:group_id] == nil || params[:group_id].empty?) && !session[:selected_group_id] ? 'active' : '' %>
    <%= link_to contacts_path, class: "list-group-item #{active}" do %>
      All Contact <span class="badge"><%= current_user.contacts.count %></span>
    <% end %>
    <% current_user.groups.all.each do |group|  %>
      <% active = params[:group_id].to_i == group.id || (session[:selected_group_id] && session[:selected_group_id].to_i == group.id)  ? 'active' : '' %>
      <%= link_to contacts_path(group_id: group.id), class: "list-group-item #{active}" do %>
        <%= group.name %> <span class='badge'><%= group.contacts.count %></span>
      <% end %>
    <% end %>
</div>
