<!DOCTYPE html>
<html>
  <head>
    <title>ContactManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- navbar -->
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/messages' %>

    <!-- content -->
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
